// Card.module.scss
.card {
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.42rem 0.42rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  /* Rounded corners for a modern look */
  
  &.scrollable {
    overflow: scroll;
  }
  
  &:hover {
    transform: scale(1.042);
    /* Scale on hover for a subtle interactive effect */
    box-shadow: 0 4px 8px rgba(var(--dark-rgb), 0.2);
  }
  
  transition: transform 0.3s ease-in-out;
}





.imageContainer,
.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  height: 100%;
}

.imageContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // border-radius: 8px;
  // mix-blend-mode: difference;
  transition: opacity 0.42s ease-in-out;
  
  opacity: 0;
  filter: contrast(1.2) brightness(0.42);
  
}
.loaded {
  opacity: 0.42;
  transition: opacity 0.42s ease-in-out;
}

.noImage {
  filter: invert(1);
  opacity: 0.2;

}

.titleContainer {
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  background: rgba(var(--dark-rgb), 0.2);
  border-radius: 8px;
  padding: 0.42rem;
  font-weight: bold;
  margin: 0;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.socialMediaContainer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  overflow-x: scroll;
  width: calc(100% - 32px);
  // Styling for the container of social media tags
  // Adjust spacing, alignment, and other styles as needed
}

.original {
  font-size: 14px;
  color: #b0b0b0;
}

.selected {
  border: 1px solid rgb(var(--light-rgb));
  background-color: rgba(var(--light-rgb), 0.1);
}


.description {
  // color: mix colors var(--light-rgb) var(--dark-rgb) var(--tertiary-rgb);
  color: var(--light-rgb);
  // margin-top: 8px;

  // overflow scroll
  overflow: scroll;
  max-height: 30vh;
  padding-bottom: 5vh;
  overflow-y: hidden;
  // ... existing styles
  // backdrop-filter: blur(10px);
  mask-image: linear-gradient(to top, transparent, black);
  // start at 50%
  // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 150%, transparent);


  &.scrollable {
    overflow: scroll;
    mask-image: none;
  }
}

@media (max-width: 768px) {

  // card should be a bit smaller idk it is not spacing with the right side
  .card {
    width: 100%;

    &:hover {
      transform: scale(1.042);
      // should not overlap with the other card
      z-index: 1;
    }


  }

  .description {
    max-height: 25vh;
  }
}

// <div className={styles.addIcon}>
// <span className={styles.plus}></span>
// <span className={styles.plus}></span>
// </div>


.addIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  z-index: 1;
}

.plus {
  position: relative;
  background-color: rgba(var(--dark-rgb), 0.2);
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover {

    transform: scale(1.1);
  }
}