// Entity.module.scss
.entityContainer {
    // border: 1px solid #ccc;
    //pretter stylistic border maybe dottet
    // border: 1px dashed #ccc;

    border: 1px solid #000;
    padding: 1rem;
}

.entityContainer:hover {
    border: 1px dashed #ccc;
    .entityMarkdown {
        color: #ccc;
        padding: 1rem;
    }
}

.title {
    font-size: 24px;
    margin-bottom: 0.2rem;
}

.entityMarkdown {
    color: #333333; /* Adjust text color as desired */
    padding: 1rem;
    transition: color 0.2s ease-in-out;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.socialMediaLink {
    margin-right: 10px;
    text-decoration: none;
}

.socialMediaLink:hover {
    color: #FF0000;
    text-decoration: underline;
}

// should be all on left next to each other horizontally
.socialMediaContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.tagsContainer {
    // flex center horizontally
    display: flex;
    justify-content: center;
    align-items: center;
    
}