/* TagFilter.module.scss */
.entityFilter {
  color: rgb(var(--dark-rgb));
}

.tagFilter {
    padding: 20px;
    border: 1px solid var(--light-rgb);
    border-radius: 5px;
    max-width: 300px;
    margin-bottom: 20px;
  
    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      color: rgb(var(--dark-rgb));
    }
  }
  .filterContainer {
    padding: 0.42rem;
    margin: 0.42rem;
    border-radius: 20px;

    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }
