.header {
    position: fixed;
    display: flex;
    align-items: center;
    background: rgb(var(--dark-rgb));
    padding: 0 0.96rem;
    width: 100%;
    margin-top: 0;
    justify-content: space-between;
    z-index: 100;
}


