// styles/CreativesList.module.scss
.table {
  height: 100%;

  padding: 0.8rem;
  .thead {
    display: none;
  }
  .td, .th {
    padding: 10px;
    border: 1px solid #ddd;
  }
  .tr {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
 }
 


@keyframes fadeIn {
  to {
    opacity: 1;
  }
 }