
.listSocials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.42rem 0.2rem;
    width: 100%;
    gap: 0.33rem;

    // make overflow only 
    // animation of opacity each child has longer as the previous one
    animation: fadeIn 0.5s ease-in-out forwards;

}
.addSocialInput
{
    font-size: var(--heading-font-size);
    width: 100%;
    border: 1px solid rgba(var(--secondary-rgb), 0.2);
    border-radius: 5px;
    background-color: rgba(var(--secondary-rgb), 0.1);
    color: rgb(var(--light-rgb));
    text-align: left;
    // place in center
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .listSocials {
        overflow-x: auto;
    }
}