.tags {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    gap: 4px;

    // no overflow
    overflow-y: hidden;
    overflow-x: auto;
}