.tooltip {
    display: inline-block;
    padding: 0.42rem;
    padding-left: calc(0.42 * 3rem);
    position: relative;
    top: 0;
    left: 0;
    max-width: 90vw;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    white-space: nowrap;


    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .name {
        width: 100%;
    // center the text
    text-align: center;        
    }

    &.changing {
        animation: fadeOutLeft 0.3s ease-in-out forwards;
    }

    /* Additional styles for mobile view */
    @media (max-width: 768px) {
        display: none;
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -1rem;
    }
}

.tooltip.changing {
    opacity: 0;
    left: 1rem;
    animation: fadeInLeft 0.3s ease-in-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        left: 1rem;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
