/* ChangePage.module.scss */
.infoBlock {
    position: absolute;
    display: flex;
    font-size: 18px;
    top: 33%;
    padding: 50px;
    gap: 20px;
    color: #ccc;
    z-index: 1;
  }
  
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .coloredText {
    color: var(--primary);
  }
  
  .coloredItalicText {
    color: var(--primary);
    font-style: italic;
  }
  