// Card.module.scss
.card {
  background: rgba(255, 255, 255, 0.1); /* Glass-like background */
  height: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;


  // border: 0.12rem solid rgba(var(--light-rgb), 0.2);
  box-shadow: 0 0.42rem 0.42rem rgba(0, 0, 0, 0.1);
  background: rgba(var(--dark-rgb), 0.5); /* Background color with transparency */
  // border: 1px solid rgba(255, 255, 255, 0.2); /* Border with transparency */
  border-radius: 12px; /* Rounded corners for a modern look */
  overflow: hidden; /* Ensure rounded corners apply to child elements */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
  // shadow in on black background
  // box-shadow: 0 4px 8px rgba(var(--dark-rgb), 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02); /* Scale on hover for a subtle interactive effect */
       // Adjust styles for hover state
    // Change background color, border color, and other styles as needed
    background: rgba(var(--dark-rgb), 0.8);
    // border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px rgba(var(--dark-rgb), 0.2);
 
  }
}

.bgOverlay,
.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  height: 100%;
}

.bgOverlay {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  // mix-blend-mode: difference;
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out;

  filter: invert(1);

  &:hover {
    opacity: 1;
  }
}

.titleContainer {
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  background: rgba(var(--dark-rgb), 0.2);
  border: 1px solid rgba(var(--dark-rgb), 0.2);
  border-radius: 8px;
  padding: 0.42rem;
  font-weight: bold;
  margin: 0;
}

.socialMediaContainer {
  // Styling for the container of social media tags
  // Adjust spacing, alignment, and other styles as needed
}

.original {
  font-size: 14px;
  color: #b0b0b0;
}

.selected {
  border: 1px solid rgb(var(--light-rgb));
  background-color: rgba(var(--light-rgb), 0.1);
}

.icon {
  // Styling for the folder icon
  // Adjust size, color, etc., according to your design
}

// Additional styles for folder-specific content
