
@import '../../../styles/Animations';

.popup {
  --space: 2rem;
  --top-space: calc(1rem + var(--space));
  opacity: 0;
  position: fixed;
  height: calc(100vh - var(--space) * 2 - var(--top-space));
  top: var(--top-space);
  width: calc(100vw - var(--space) * 2);
  padding: var(--space);
  margin: var(--space);
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--dark-rgb), 0.8);
  overflow-y: auto;
  border-top-right-radius: 4.2px;
  border-bottom-right-radius: 4.2px;


  
  @media (max-width: 768px) {
    // no space to border
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    // padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  &.show {
    // border: 1px solid rgba(var(--light-rgb), 0.5);
    opacity: 1;
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  &.hide {
    border: 1px solid var(--dark-color);
    display: none;
    opacity: 0;
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  &.appear {
    animation: fadeInBackground 3s ease-in-out forwards;
  }
}

.closeButtonContainer {
  position: fixed;
  text-align: left;
  top: 1.5rem;
  right: 1.5rem;
  transform: scale(1.2);
  cursor: pointer;
  color: var(--light-color);
  font-size: 1.2rem;
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: rgb(var(--secondary-rgb));
  }
}

.entityContainer {
  padding: 0.42rem;
  border: 1px dashed rgb(var(--light-rgb));
  border-radius: 0.42rem;

  &:hover {
    border: 1px solid rgb(var(--light-rgb));
  }

  @media (max-width: 768px) {
    border: none;
  }
}

.title {
  font-size: var(--heading-font-size);
}

.entityMarkdown {
  padding: 1rem;
  transition: color 0.2s ease-in-out;

  @media (max-width: 768px) {
    padding: 0;
    width: 30%;
  }
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
}

.socialMediaLink {
  padding-top: 10rem;
  margin-right: 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.socialMediaContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.tagsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.mapContainer {
  width: 100%;
  height: 42vh;
  position: relative;
  padding: 4rem;
  margin: 1rem 0;

  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
  }
}

.descriptionContainer {
  padding: 1rem;
  transition: color 0.2s ease-in-out;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  // padding: 1rem;

  @media (max-width: 768px) {
    padding: 0;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.spotifyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.embedContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphContainer {
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 0;
    width: 100%;
  }
}

.subtitle {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (max-width: 768px) {
  .tagsContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .popup {
    top: var(--top-space);
  }

  .contentContainer {
    grid-template-columns: 1fr;
  }

  .entityContainer {
    border: none;
  }

  .leftContainer {
    width: 90vw;
  }
}
