.folder {
  padding: 0.42rem;
  border: 1px dashed rgb(var(--light-rgb));
  width: 100%;
  font-size: var(--heading-font-size);
  transition: border-color 0.3s ease-in-out; /* Add transition for smooth effect */
  height: 4.2rem;
  z-index: 5;
  &:hover {
      border: 1px solid rgb(var(--light-rgb)); /* Change border color on hover */
  }

  // items next to each other horizontally
  display: flex;
  align-items: center;
  // center items vertically

  gap: 0.42rem;
}

.selected {
  border: 1px solid rgb(var(--light-rgb));
}

// Entity.module.scss
.entityContainer {
  padding: 0.42rem;
  border: 1px dashed rgb(var(--light-rgb));
  width: 100%;
  transition: border-color 0.3s ease-in-out; /* Add transition for smooth effect */
  height: 100%;
  z-index: 5;
  &:hover {
      border: 1px solid rgb(var(--light-rgb)); /* Change border color on hover */
  }
}

.title {
  font-size: var(--heading-font-size);
  width: 50vw;
}

.entityContainer:hover {
  border: 1px solid rgb(var(--light-rgb));
}

.entityMarkdown {
  
  padding: 1rem;
  transition: color 0.2s ease-in-out;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMediaLink {
  margin-right: 10px;
  text-decoration: none;
}

.socialMediaLink:hover {
  color: rgb(var(--secondary-rgb));
  text-decoration: underline;
}

// should be all on left next to each other horizontally
.socialMediaContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.tagsContainer {
  // flex center horizontally
  width: 100%;
  height: 20vh;
  // place left
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  bottom: 0;
  // place right
  justify-content: flex-end;
}

.mapContainer {
  margin: 1rem;
  position: relative;
  width: 95vw;  
}

// on mobile tags Container should be vertical

@media (max-width: 768px) {
  .tagsContainer {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
  }
}

.galleryContainer
{
  width: 9000vw;  
}

.filterTagsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;


  // always place on the left
  position: relative;
  width: 100%;

}

.date {
  font-size: var(--heading-font-size);
  transition: color 0.042s ease-in-out;
  
}

.dateContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.daysUntil {
  border-radius: 4px;	
  border: 1px solid rgb(var(--light-rgb));	
  font-size: var(--font-size);
  text-transform: uppercase;
  margin: 0.42rem;
  padding: 0.2rem;
  color: rgb(var(--light-rgb));
}