:root {
  --font-mono: monospace;

  /* #ffffff */
  --light-rgb: 255, 255, 255;

  /* #101010 */
  --dark-rgb: 16, 16, 16;

  /* #f3f3f3 */
  --smoke-rgb: 243, 243, 243;

  /* #3c3c3c */
  --shaded-rgb: 60, 60, 60;

  /* #420000 */
  --primary-rgb: 66, 0, 0;

  /* #ff4242 */
  --secondary-rgb: 255, 66, 66;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  color: rgb(var(--light-rgb));
  background: rgb(var(--dark-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}