.tag {
    // display: flex;
    justify-content: center;
    align-items: center;
    // width: 200px;
    cursor: pointer;
    font-size: var(--font-size);
    // padding: 0.42rem;
    padding: 0.2rem;
    font-weight: bold;
    color: rgba(var(--light-rgb), 0.8);
    transition: transform 0.3s ease;
    position: static;
    border-radius: 4.2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // background-color: rgba(var(--light-rgb), 0.2);
    border: 1px solid rgba(var(--light-rgb), 0.42);
    
    
    &:hover {
    transform: scale(1.1);
    background-color: rgb(var(--primary-rgb));
    }

    &.selected {
      background-color: rgb(var(--secondary-rgb));
      color: rgb(var(--light-rgb));
    }
}


.viewOnly {
  cursor: default;
  &:hover {
    transform: none;
    background-color: rgba(var(--light-rgb), 0.2);
  }
}