.tooltip {
    display: inline-block;
    padding: 0.42rem;
    padding-left: 0.42*3rem;
    position: relative;
    top: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out; /* Add left property to transition */

    &.changing {
        animation: fadeOutLeft 0.3s ease-in-out forwards; /* Apply fadeOutLeft animation when changing */
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -1rem; /* Adjust the distance to fade out */
    }
}

/* Add this class when tooltip is changing */
.tooltip.changing {
    opacity: 0;
    left: 1rem; /* Adjust the distance to fade in */
    animation: fadeInLeft 0.3s ease-in-out forwards; /* Apply fadeInLeft animation when changing */
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        left: 1rem; /* Adjust the distance to fade in */
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@media (max-width: 768px) {
    .tooltip {
      display: flex;
      gap: 0.5rem; /* Increase the gap for more spacing */
      background: rgba(var(--dark-rgb), 0.8); /* Adjust the background color and transparency */
      mix-blend-mode: difference;
      position: fixed;
      top: 95vh;
      white-space: nowrap !important;
      left: 0;
      width: max-content;
      padding: 0.5rem 2rem;
      margin: 0 1rem;
      border-radius: 20px; /* Add border-radius for a rounded appearance */
    }
  
    .tooltip > div {
      flex: 1; /* Distribute available space evenly among child divs */
    }
  }
  