.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px dashed rgb(var(--light-rgb));
  border-radius: 0.42rem;
  margin: 1rem 0;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  .leaflet-container {
    filter: grayscale(100%);
  }
 
  .leaflet-marker-icon {
    filter: invert(100%);
  }
 }
 