.link {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    z-index: 2;
    position: relative;
    display: inline;

    color: rgb(var(--tertiary-rgb));
    transition: color 0.2s ease-in-out;
    &:hover {
        color: rgb(var(--secondary-rgb));
        text-decoration: underline;
    }
    &:hover {
        text-decoration: underline;
    }
}
