.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    position: absolute;

    // animation: flash 0.5s ease-in-out;

}

.loading {
    position: relative;
    width: 50px;
    height: 50px;
}

.loadingCircle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top-color: rgb(var(--primary-rgb));
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingText {
    // the text is "42 and we want to make the size aniamte based from center and we will make that it kinda jumps in size over 0.5 seconds
    animation: jump 0.42s ease-in-out infinite alternate;
    transform: scale(0);
    font-size: 42px;
    font-weight: bold;
    //center the text
    position: absolute;
    transform: translate(-50%, -50%);

}

@keyframes jump {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}
