/* Modern Apple Clean Glassy Look */
.loadingContainer {
    margin:  0;
    height:  100vh; /* Full viewport height */
    display: flex; /* Flex container for centering */
    justify-content: center; /* Horizontally centered */
    align-items: center; /* Vertically centered */
  }
  
  .faviconRotating {
    animation: rotation  2s linear infinite;
    border-radius:  50%; /* Round edges */
    transition: transform  0.3s ease-in-out; /* Smooth scaling */
    transform: scale(1); /* Initial scale */
  }
  
  @keyframes rotation {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
  }
  
  /* Accelerating and Decelerating Speed */
  @keyframes accelerationDeceleration {
     0% { transform: scale(0.5) rotate(0deg); }
     25% { transform: scale(0.75) rotate(90deg); }
     50% { transform: scale(0.5) rotate(180deg); }
     75% { transform: scale(0.4) rotate(270deg); }
     100% { transform: scale(0.5) rotate(360deg); }
  }
  
  .faviconRotating {
    animation: accelerationDeceleration  4s infinite;
  }
  

  @media (max-width: 768px) {
    .loadingContainer {
      height:  100vh; /* Full viewport height */
    }
  }