
.date {
    font-size: var(--heading-font-size);
    color: rgba(var(--secondary-rgb), 0.42);
    transition: color 0.042s ease-in-out;
    
    &:hover {
        color: rgb(var(--secondary-rgb));
    }
}

.dateContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.daysUntil {
    border-radius: 4px;	
    // border: 1px solid rgb(var(--light-rgb));	

    border-left: 2px solid rgba(var(--light-rgb), 1);
    font-size: var(--font-size);
    text-transform: uppercase;
    margin: 0.42rem;
    padding: 0.2rem;
    padding-left: 0.42rem;
    color: rgb(var(--light-rgb));
}