/* Button.module.scss */

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    border: none; /* Remove border */
    font-size: var(--font-size);
    width: 40px;
    height: 40px;
    background-color: rgba(var(--light-rgb), 0.1); /* Semi-transparent background */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 12px; /* Add border-radius for rounded corners */
    img {
        object-fit: contain;
        object-position: center;
        text-transform: uppercase;
        margin-top: 2px; /* Adjust the vertical alignment of text */
    }
}

.button:hover {
    background-color: rgba(var(--color-sub-rgb), 0.8); /* Darker background on hover */
    transform: translateY(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle box shadow on hover */
}

.button > img {
    filter: var(--filter);
}

/* Square Button Styles */
.square {
    border-radius: 8px;
}

/* Round Button Styles */
.round {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

/* Circle Button Styles */
.circle {
    border-radius: 50%;
    background-color: rgba(var(--color-sub-rgb), 0.8);
    padding: 8px; /* Add padding for a circular appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.circle:hover {
    transform: scale(1.05);
}

/* Rest of your code remains unchanged */
