.header {
  position: fixed;
  display: flex;
  align-items: center;
  background: rgba(var(--dark-rgb),  0.5);
  padding:  0  0.96rem;
  width:  100%;
  margin-top:  0;
  justify-content: space-between;
  z-index:  100;
  height: var(--header-height);
}

.main {
  padding-top: var(--header-height);
  flex: 1; /* Expands to fill remaining space */
}

.content {
  display: flex;
  min-height: 100vh; /* Ensures viewport height */
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(var(--dark-rgb));
  box-shadow: var(--box-shadow);
  padding: 0 0.42rem;
  width: 100%; /* Ensures full width */
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__right {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height:  2em;
}

.footer__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right:  3rem;
  padding-left:  3rem;
}
