.mapContainer {
    height: 42%;
    width: 100%;
    position: relative;
    overflow: hidden;
  
    border: 1px dashed rgb(var(--light-rgb));

  margin: 1rem 0;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
