.active {
    color: rgb(var(--light-rgb)) !important;
    .anchor {
        color: rgb(var(--secondary-rgb)) !important;
    }
}

.markdown {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    // background-color: #f9f9f9;
    border-radius: 5px;

    color: rgb(var(--light-rgb));
    transition: color 0.2s ease-in-out;
    &:hover {
        color: rgb(var(--light-rgb));
        .anchor {
            color: rgb(var(--secondary-rgb));
        }
    }
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.link {
    margin-right: 10px;
    text-decoration: none;
}

.link:hover {
    color: rgb(var(--secondary-rgb));
    text-decoration: underline;
}

.list {
    list-style-type: disc;
    margin-left: 24px;
}


.tr {
    border-bottom: 1px solid rgba(var(--secondary-rgb), 0.2);
}

.td {
    padding: 0 0.77rem;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
}

.h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 20px;
}