.socialMediaTag {
    width: fit-content;


    display: flex;
    align-items: center;
    padding: 0.1rem;
    border-radius: 0.5rem;
    
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(var(--light-rgb));

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.socialMediaIcon {
    width: 2rem;
    height: 2rem;
    // make image smaller
    // &.Website {
    //     transform: scale(0.1);
    // }
}

.username {
    font-size: 1rem;
    font-weight: normal;
}

.Instagram { 
    background-color: #E1306C;
}

.YouTube {
    background-color: #FF0000;
}

.SoundCloud {
    background-color: #FF5500;
}

.Spotify {
    background-color: #1DB954;
}

.AppleMusic {
    background-color: #000000;
}

.Bandcamp {
    background-color: #629AA9;
}

.Twitch {
    background-color: #9146FF;
}

.Beatport {
    background-color: #FF5E00;
}

.Telegram {
    background-color: #0088CC;
}

.Website {
    background-color: #fff;

    .socialMediaIcon {
        scale: 0.05;
        position: relative;
        top: -1.175rem;
        left: -1.175rem;
    }

}