.socialMediaTag {
    width: fit-content;


    display: flex;
    align-items: center;
    padding: 0.1rem;
    border-radius: 0.5rem;
    
    font-size: 0.42rem;
    font-weight: bold;
    color: rgb(var(--light-rgb));

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.socialMediaIcon {
    width: 2rem;
    height: 2rem;
    // make image smaller
    // &.website {
    //     transform: scale(0.1);
    // }
}

.username {
    font-size: 1rem;
    font-weight: normal;
}

.instagram { 
    background-color: #E1306C;
}

.youtube {
    background-color: #fff;


    .socialMediaIcon {
        scale: 0.55;
    }
    
}

.soundcloud {
    background-color: #FF5500;
}

.spotify {
    background-color: #1DB954;
}

.AppleMusic {
    background-color: #000000;
}

.bandcamp {
    background-color: #629AA9;
}

.Twitch {
    background-color: #9146FF;
}

.beatport {
    background-color: #FF5E00;
}

.telegram {
    background-color: #0088CC;
}

.website {
    background-color: #fff;

    .socialMediaIcon {
        scale: 0.05;
        position: relative;
        top: -1.175rem;
        left: -1.175rem;
    }

}

.twitter {
    background-color: #fff;
}