.tag {
    // display: flex;
    justify-content: center;
    align-items: center;
    // width: 200px;
    cursor: pointer;
    font-size: var(--font-size);
    // padding: 0.42rem;
    padding: 0.2rem;
    font-weight: bold;
    color: rgb(var(--light-rgb));
    transition: transform 0.3s ease;
    position: static;
    border-radius: 4.2px;
    cursor: pointer;
    background: rgba(var(--dark-rgb), 0.2);
    transition: background-color 0.3s ease;
    border: none;
    
    // no text wrapping
    white-space: nowrap;
    
    &:hover {
      background-color: rgba(var(--light-rgb), 0.2);
    }

    &.selected {
      background-color: rgb(var(--secondary-rgb));
      
    }
}


.viewOnly {
  cursor: default;
  &:hover {
    transform: none;
    background-color: rgba(var(--light-rgb), 0.2);
  }
}