.tooltip {
    display: inline-block;
    padding: 0.42rem;
    padding-left: 0.42*3rem;
    position: relative;
    top: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

/* Hide the name on mobile */
@media (max-width: 600px) {
    .tooltip .name {
        opacity: 1; /* Initially visible */
        transition: opacity 0.3s ease-in-out; /* Smooth transition */
    }

    .tooltip {
        top: -10rem;
        display: none;
        opacity: 1; /* Initially visible */

    }   

    /* Hide the name on mobile */
    .tooltip.mobile-hide .name {
        opacity: 0; /* Make it invisible */
        animation: fadeOut 0.3s ease-in-out forwards; /* Apply fadeOut animation */
    }

    /* Show the tooltip content */
    .tooltip.mobile-hide {
        opacity: 0; /* Initially invisible */
        animation: fadeIn 0.3s ease-in-out forwards; /* Apply fadeIn animation */
        pointer-events: auto; /* Re-enable pointer events */
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        width: 100%;
        opacity: 1;
    }
    to {
        width: 0%;
        opacity: 0;
    }
}
