/* Menu.module.scss */

.menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: right 0.3s ease, width 0.3s ease;
    right: -42vw;
    top: 4rem;
    overflow: hidden;
    background-color: rgb(var(--dark-rgb));
    z-index: 100 !important;
    // make sure the menu is on top of everything
    width: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu.show {
    width: 100%;
    right: 0rem;
    height: 100%;
    transition: right 0.3s ease, width 0.3s ease;
}

.menuItem {
    display: flex;
    justify-content: right;
    align-items: right;
    /// all to right
    // use --color-sub-rgb to set the opacity of the border

    // border-bottom: 1px solid rgba(var(--shaded-rgb), 0.2);
    position: relative;
    width: 100%;
    right: -3rem;
    // Set transition delay based on index
    &:nth-child(1) {
        transition-delay: calc(0.2s * 4.2);
    }

    &:nth-child(2) {
        transition-delay: calc(0.4s * 4.2);
    }

    &:nth-child(3) {
        transition-delay: calc(0.6s * 4.2);
    }

    &:nth-child(4) {
        transition-delay: calc(0.8s * 4.2);
    }
}

.menuLink {
    background-color: rgb(var(--smoke-rgb));
    width: 21rem;
    padding-right: 5rem;
    text-decoration: none;
    padding-left: 1rem;
    color: rgb(var(--dark-rgb));
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    transition: all 0.3s ease;
}

.menuLink:hover {
    background-color: rgb(var(--smoke-rgb));
    transition: all 0.3s ease;
    color: rgb(var(--secondary-rgb));
    transform: translateX(1rem);
}

.theBox {
    background-color: rgb(var(--dark-rgb));
    transition: all 0.3s ease;
    color: rgb(var(--light-rgb));
}

