.container {
  overflow: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding:  0  20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100%;
  width:  100%;
}

// .carousel::-webkit-scrollbar {
//   display: none;
// }

// .carousel__item {
//   display: inline-block;
//   width:  25%;
//   scroll-snap-align: start;
//   margin-right:  20px;
// }

// .carousel__item:last-child {
//   margin-right:  0;
// }

// .buttons {
//   display: flex;
//   width:  100%;
//   justify-content: space-between;
//   margin-top:  20px;
// }

.button {
  position: fixed;
  text-align: left;
  top:  1.5rem;
  right: calc(4.2rem + (4.2rem -  1.5rem));
  transform: scale(1.2);
  cursor: pointer;
  color: var(--light-color);
  font-size:  1.2rem;
  border: none;
  background: none;
  outline: none;
}

.button:hover {
  color: rgb(var(--secondary-rgb));
}

.cardWrapper {
  width:  80vw;
  height:  80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .selected {
//   transform: scale(1.2);
//   z-index:  1;
// }

@media only screen and (max-width:  600px) {
  .carousel-wrapper{
    max-width:  100%;
  }
}
