// Entity.module.scss
.entityContainer {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1rem;
    transition: border 0.2s ease-in-out;
}

.entityContainer:hover {
    border: 1px solid #000;
    .entityMarkdown {
        color: #ccc;
        padding: 1rem;
    }
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.entityWebsite {
    color: #0000FF; /* Change the color to your preference */
    text-decoration: underline;
    margin-bottom: 5px;
}

.entityMarkdown {
    color: #333333; /* Adjust text color as desired */
    padding: 1rem;
    transition: color 0.2s ease-in-out;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.socialMediaLink {
    margin-right: 10px;
    text-decoration: none;
}

.socialMediaLink:hover {
    color: #FF0000;
    text-decoration: underline;
}

// should be all on left next to each other horizontally
.socialMediaContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}