/* TagFilter.module.scss */
.entityFilter {
  color: #333;
}
.tagFilter {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-bottom: 20px;
  
    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #333;
    }
  
    
  }
  .filterContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ddd;
    }

    &.selected {
      background-color: #007bff;
      color: #fff;
    }
  }