// styles/CreativesList.module.scss

.entityTable {
  width: 100%;
  .thead {
    // font-weight: bold;
    // hidden
    display: none;
  }
  .td, .th {
    padding: 10px;
    border: 1px solid #ddd;
  }
}
