.markdown {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    // background-color: #f9f9f9;
    border-radius: 5px;
   }
   
   .section {
    margin-bottom: 20px;
    padding: 10px;
    // background-color: #fff;
    border-radius: 5px;
   }
   